@charset "UTF-8";
/*-------general-----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
*::selection {
  background-color: rgba(165, 164, 164, 0.76);
}

img {
  border-style: none;
  max-width: 100%;
}

html {
  font-size: 16px;
  background-position: center center;
  background-attachment: fixed;
}
html body {
  background: linear-gradient(45deg, black, grey, black, grey, black, grey, black, grey, black, grey);
  background-attachment: fixed;
  background-size: 600%;
  animation: fondo-animado 40s infinite;
}
@keyframes fondo-animado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 505px) {
  html {
    font-size: 12px;
  }
}
/*click*/
/*apuntar*/
/*cambiar color al texto*/
/*sombra al texto*/
/*sombra blanca al texto*/
/*COLOR DE FONDO - SOMBRAS*/
/*menu = nav*/
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  box-shadow: 0px 0px 10px white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0px;
}
header a {
  text-decoration: none;
}
header .contenedor {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
header .menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 0px 2px white);
}
header .menu-logo a img {
  max-width: 150px;
  transition: all 0.5s ease;
}
header .menu-logo a img:hover {
  transform: scale(0.9, 0.9);
}
header .menu-logo .navegador {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu-logo .navegador ul {
  list-style: none;
  padding: 0px;
}
header .menu-logo .navegador ul li {
  display: inline-block;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li:active {
  background-color: #5f5f5f;
}
@media screen and (max-width: 505px) {
  header .menu-logo .navegador ul li:hover {
    border: 0px;
  }
}
header .menu-logo .navegador ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li a:hover {
  transform: scale(1.1, 1.1);
  text-shadow: 0px 0px 20px white;
}

/*click*/
/*apuntar*/
/*cambiar color al texto*/
/*sombra al texto*/
/*sombra blanca al texto*/
main .ofertas-promociones, main .productos .perfumes .perfumes-2, main .productos .perfumes .perfumes-1, main .productos .infantes .infante-2, main .productos .infantes .infante-1, main .productos .hombres .hombre-2, main .productos .hombres .hombre-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .ofertas-promociones .sub-titulo, main h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

footer .footers div h4 {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

/*COLOR DE FONDO - SOMBRAS*/
/*----main----*/
/*----articulo 1----*/
main {
  /*----articulo 2----*/
  /*----articulo 3----*/
}
main .presentacion-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../multimedia/presentacion.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  transition: all 0.5s ease;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px white;
}
main h1 {
  word-spacing: 3px;
  padding: 0px 20px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  /*animation-name: cambiar-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;   
  @keyframes cambiar-color {
      50%{
          color: rgba(255, 255, 255, 0.747);

      }         
  }*/
}
main .productos {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
main .productos h2 {
  text-shadow: 0px 0px 10px white;
}
main .productos .hombres {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .infantes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .infantes .infante-1 {
  order: 2;
}
main .productos .infantes .infante-2 {
  order: 1;
}
main .productos .perfumes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .hombres, main .productos .infantes, main .productos .perfumes {
  gap: 20px;
}
main .productos .hombres div h3, main .productos .infantes div h3, main .productos .perfumes div h3 {
  text-shadow: 0px 0px 10px white;
}
main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
main .productos .hombres div .parrafos, main .productos .infantes div .parrafos, main .productos .perfumes div .parrafos {
  text-align: center;
  padding: 30px 0px;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px #000000;
}
main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin-top: 10px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 10px #000000;
}
main .productos .hombres div .ver-mas:hover, main .productos .infantes div .ver-mas:hover, main .productos .perfumes div .ver-mas:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 20px white;
}
main .productos .hombres div .ver-mas:active, main .productos .infantes div .ver-mas:active, main .productos .perfumes div .ver-mas:active {
  background-color: #5f5f5f;
}
main .contenedor {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 40px;
  margin-bottom: 50px;
}
main h2 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding: 0px 20px;
}
main h3 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
main .ofertas-promociones {
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px white;
  background-image: url(../multimedia/ofertas-promos.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
/*click*/
/*apuntar*/
/*cambiar color al texto*/
/*sombra al texto*/
/*sombra blanca al texto*/
main .productos .hombres .hombre-1, main .productos .hombres .hombre-2, main .productos .infantes .infante-1, main .productos .infantes .infante-2, main .productos .perfumes .perfumes-1, main .productos .perfumes .perfumes-2, main .ofertas-promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1, main .ofertas-promociones .sub-titulo {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

footer .footers div h4 {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

/*COLOR DE FONDO - SOMBRAS*/
/*-----footer----*/
footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  box-shadow: 0px 0px 10px white;
}
footer .footers {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
  gap: 30px;
}
footer .footers .footer-1 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footers .footer-1 h4 {
  margin-bottom: 20px;
}
footer .footers .footer-1 form {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .footers .footer-1 form .form-1 {
  display: grid;
  gap: 20px;
}
footer .footers .footer-1 form .form-1 .datos {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  min-width: 170px;
  border: none;
  box-shadow: 0px 0px 10px white;
}
footer .footers .footer-1 form .form-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footers .footer-1 form .form-2 textarea {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px white;
}
footer .footers .footer-1 form .form-2 .enviar {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  height: auto;
  box-shadow: 0px 0px 10px white;
  transition: all 0.5s ease;
}
footer .footers .footer-1 form .form-2 .enviar:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 20px white;
}
footer .footers .footer-1 form .form-2 .enviar:active {
  background-color: #5f5f5f;
}
footer .footers div h4 {
  word-spacing: 3px;
  color: white;
  text-shadow: 0px 0px 10px white;
}
footer .footers .footer-2 {
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}
footer .footers .footer-2 .medios-de-pago {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footers .footer-2 .medios-de-pago div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .footers .footer-2 .medios-de-pago div img {
  max-width: 40px;
  filter: drop-shadow(0px 0px 5px white);
}
footer .footers .footer-2 .redes-sociales {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
footer .footers .footer-2 .redes-sociales div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footers .footer-2 .redes-sociales div img {
  border-radius: 50%;
  max-width: 40px;
  filter: drop-shadow(0px 0px 5px white);
  transition: all 0.5s ease;
}
footer .footers .footer-2 .redes-sociales div img:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 20px white;
}
footer .footers .footer-2 .redes-sociales div img:active {
  background-color: #5f5f5f;
}
footer .derechos-reservados {
  color: white;
  text-align: center;
  padding: 10px 20px;
}

/*--------RESPONSIVE--------*/
/*------------HEADER-------------------- */
@media screen and (max-width: 750px) {
  .menu-logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .menu-logo a img {
    max-width: 200px;
  }
}
@media screen and (max-width: 505px) {
  header {
    padding: 30px 0px;
    position: relative;
  }
  header .menu-logo a img {
    max-width: 250px;
  }

  header .contenedor {
    margin: 0px 0px;
    width: 100%;
  }

  .menu-logo {
    gap: 20px;
  }

  .navegador ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100%;
    width: 100%;
    gap: 10px;
  }
}
/*-------------------------------- */
/*--------------------MAIN ----------------------*/
@media screen and (max-width: 750px) {
  main {
    /*----articulo 2----*/
  }
  main .productos {
    gap: 50px;
  }
  main .productos .hombres {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .infantes {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .infantes .infante-1 {
    order: 2;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
    border-radius: 30px;
  }
  main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
    font-size: 1.1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 90%;
    max-width: 850px;
  }
}
/*FIN DE ARTICULO 2 */
@media screen and (max-width: 505px) {
  main {
    /*----articulo 2----*/
  }
  main .productos {
    gap: 50px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  main .productos h2 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .hombres {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .infantes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .infantes .infante-1 {
    order: 0;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .hombres, main .productos .infantes, main .productos .perfumes {
    gap: 50px;
  }
  main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
    border-radius: 30px;
  }
  main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
    font-size: 1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 100%;
    padding: 0px 20px;
  }
}
/*--------------------------------------------------------*/
@media screen and (max-width: 750px) {
  footer .footers {
    grid-template-columns: 1fr;
  }
  footer .footers .footer-2 .medios-de-pago div img {
    max-width: 40px;
    min-width: 20px;
    width: 100%;
  }
  footer .footers .footer-2 .redes-sociales div img {
    max-width: 40px;
    min-width: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 505px) {
  footer .footers .footer-1 form {
    grid-template-columns: 1fr;
  }
  footer .footers .footer-1 form .form-2 {
    flex-direction: column;
  }
  footer .footers .footer-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer .footers .footer-2 .medios-de-pago div img {
    max-width: 30px;
  }
  footer .footers .footer-2 .redes-sociales div img {
    max-width: 30px;
  }
}
/*-----section 1-----*/
.hombres-ofertas {
  background: linear-gradient(155deg, black, white, black);
  background-attachment: fixed;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px white;
  position: relative;
}
.hombres-ofertas h1 {
  position: absolute;
}
.hombres-ofertas img {
  width: auto;
  height: 100%;
  padding: 20px 0px;
}

/*-----section 2-----*/
.hombres-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
.hombres-categorias h2 {
  text-shadow: 0px 0px 10px white;
}
.hombres-categorias .categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hombres-categorias .categorias .hombres-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 170px;
  border-radius: 20px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px white;
}
.hombres-categorias .categorias .hombres-items:hover {
  box-shadow: 0px 0px 20px white;
  transform: scale(0.9, 0.9);
}
.hombres-categorias .categorias .hombres-items p {
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 0px 10px #000000;
  text-transform: capitalize;
  font-weight: bolder;
}
.hombres-categorias .categorias .hombres-items img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 750px) {
  /*-----section 2-----*/
  .hombres-categorias .categorias .hombres-items {
    width: 150px;
    height: 130px;
  }
}
@media screen and (max-width: 505px) {
  .hombres-categorias {
    padding: 30px 20px;
    gap: 30px;
    width: 90%;
  }
  .hombres-categorias .categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    width: 100%;
    gap: 15px;
  }
  .hombres-categorias .categorias .hombres-items {
    height: 100%;
    width: 100%;
  }
}
/*INFANTILES*/
/*---section 1:infante presentacion---*/
.infante-presentacion, .perfumes-presentacion {
  margin-bottom: 50px;
}
.infante-presentacion .carousel, .perfumes-presentacion .carousel {
  box-shadow: 0px 0px 10px white;
}
.infante-presentacion .carousel .carousel-inner .carousel-item, .perfumes-presentacion .carousel .carousel-inner .carousel-item {
  max-height: 600px;
  height: auto;
}
.infante-presentacion .carousel .carousel-inner .carousel-item img, .perfumes-presentacion .carousel .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.infante-presentacion .carousel .carousel-inner .carousel-item div h5, .perfumes-presentacion .carousel .carousel-inner .carousel-item div h5 {
  text-transform: capitalize;
  text-shadow: 0px 0px 10px black;
  font-weight: bolder;
}
.infante-presentacion .carousel .carousel-indicators button, .perfumes-presentacion .carousel .carousel-indicators button {
  filter: drop-shadow(2px 4px 2px black);
}
.infante-presentacion .carousel .carousel-control-prev-icon, .perfumes-presentacion .carousel .carousel-control-prev-icon {
  height: 80px;
  width: 100%;
  filter: drop-shadow(0px 5px 2px black);
}
.infante-presentacion .carousel .carousel-control-next-icon, .perfumes-presentacion .carousel .carousel-control-next-icon {
  height: 80px;
  width: 100%;
  filter: drop-shadow(0px 5px 2px black);
}

/*-------------------------------------*/
/*---section 2:infante categorias---*/
.infantes-categorias {
  width: 85%;
  margin: auto;
  max-width: 1000px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
.infantes-categorias h2 {
  text-shadow: 0px 0px 10px white;
  padding: 4%;
}
.infantes-categorias .infantes-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infantes-categorias .infantes-items div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
}
.infantes-categorias .infantes-items div img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
}
.infantes-categorias .infantes-items div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.infantes-categorias .infantes-items div div h3 {
  text-shadow: 0px 0px 10px white;
}
.infantes-categorias .infantes-items div div p {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px #000000;
}
.infantes-categorias .infantes-items div div a {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 10px #000000;
}
.infantes-categorias .infantes-items div div a:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 20px white;
}
.infantes-categorias .infantes-items div div a:active {
  background-color: #5f5f5f;
}
.infantes-categorias .infantes-items .infantes-niños {
  padding: 4%;
  gap: 40px;
}
.infantes-categorias .infantes-items .infantes-bebes {
  padding: 4%;
  gap: 40px;
}
.infantes-categorias .infantes-items .infantes-bebes .bebes-1 {
  order: 2;
}
.infantes-categorias .infantes-items .infantes-accesorios {
  padding: 4%;
  gap: 40px;
}

/*-------------------------------------*/
/*-------------------------------------RESPONSIVE----------------------------------------------------*/
@media screen and (max-width: 750px) {
  /*---section 1:infante presentacion---*/
  .infante-presentacion .carousel .carousel-inner .carousel-item, .perfumes-presentacion .carousel .carousel-inner .carousel-item {
    max-height: 600px;
    height: auto;
  }
  .infante-presentacion .carousel .carousel-inner .carousel-item img, .perfumes-presentacion .carousel .carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  /*---section 2:infante categorias---*/
  .infantes-categorias {
    width: 85%;
    margin-bottom: 50px;
  }
  .infantes-categorias .infantes-items div div {
    gap: 10px;
  }
  .infantes-categorias .infantes-items div div h3 {
    text-shadow: 0px 0px 10px white;
  }
  .infantes-categorias .infantes-items div div p {
    font-size: 1.2rem;
  }
  .infantes-categorias .infantes-items div div a {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  .infantes-categorias .infantes-items .infantes-niños {
    gap: 20px;
  }
  .infantes-categorias .infantes-items .infantes-bebes {
    gap: 20px;
  }
  .infantes-categorias .infantes-items .infantes-bebes .bebes-1 {
    order: 2;
  }
  .infantes-categorias .infantes-items .infantes-accesorios {
    gap: 20px;
  }
}
/*----------------------------------*/
@media screen and (max-width: 505px) {
  /*---section 1:infante presentacion---*/
  .infante-presentacion .carousel .carousel-control-prev-icon, .perfumes-presentacion .carousel .carousel-control-prev-icon {
    height: 40px;
    width: 100%;
  }
  .infante-presentacion .carousel .carousel-control-next-icon, .perfumes-presentacion .carousel .carousel-control-next-icon {
    height: 40px;
    width: 100%;
  }

  /*---section 2:infante categorias---*/
  .infantes-categorias {
    gap: 30px;
    width: 90%;
    margin-bottom: 50px;
    background-color: transparent;
    box-shadow: none;
  }
  .infantes-categorias h2 {
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .infantes-categorias .infantes-items {
    gap: 30px;
  }
  .infantes-categorias .infantes-items div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .infantes-categorias .infantes-items div div {
    gap: 10px;
  }
  .infantes-categorias .infantes-items .infantes-niños {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px white;
    padding: 7%;
    gap: 20px;
  }
  .infantes-categorias .infantes-items .infantes-niños .niño-1 {
    order: 2;
  }
  .infantes-categorias .infantes-items .infantes-bebes {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px white;
    padding: 7%;
    gap: 20px;
  }
  .infantes-categorias .infantes-items .infantes-bebes .bebes-1 {
    order: 2;
  }
  .infantes-categorias .infantes-items .infantes-accesorios {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px white;
    padding: 7%;
    gap: 20px;
  }
  .infantes-categorias .infantes-items .infantes-accesorios .accesorios-1 {
    order: 2;
  }
}
/*------PERFUMES-------- */
.perfumes-categorias {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.perfumes-categorias .perfumes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px white;
  border-radius: 30px;
}
.perfumes-categorias .perfumes-container div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px white;
  transition: all 0.5s ease;
}
.perfumes-categorias .perfumes-container div:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 20px white;
}
.perfumes-categorias .perfumes-container div img {
  border-radius: 20px;
}
.perfumes-categorias .perfumes-container div h3 {
  position: absolute;
  font-weight: bolder;
  padding: 20px;
}

/*------RESPONSIVE------ */
@media screen and (max-width: 505px) {
  .perfumes-categorias {
    width: 90%;
  }
  .perfumes-categorias .perfumes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 9%;
  }
  .perfumes-categorias .perfumes-container div h3 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
