/*-------general-----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
*::selection {
  background-color: rgba(165, 164, 164, 0.76);
}

img {
  border-style: none;
  max-width: 100%;
}

html {
  font-size: 16px;
  background-image: url(../multimedia/textura-fondo.jpg);
  background-position: center center;
  background-attachment: fixed;
}
html body {
  background-color: rgba(0, 0, 0, 0.664);
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 505px) {
  html {
    font-size: 12px;
  }
}
/*menu = nav*/
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0px;
}
header a {
  text-decoration: none;
}
header .contenedor {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
header .menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 0px 5px rgba(207, 206, 206, 0.479));
}
header .menu-logo a img {
  max-width: 150px;
  transition: all 0.5s ease;
}
header .menu-logo a img:hover {
  transform: scale(0.9, 0.9);
}
header .menu-logo .navegador {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu-logo .navegador ul {
  list-style: none;
  padding: 0px;
}
header .menu-logo .navegador ul li {
  display: inline-block;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li:active {
  background-color: #5f5f5f;
}
@media screen and (max-width: 505px) {
  header .menu-logo .navegador ul li:hover {
    border: 0px;
  }
}
header .menu-logo .navegador ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li a:hover {
  transform: scale(1.1, 1.1);
  text-shadow: 0px 0px 30px white;
}

main .ofertas-promociones, main .productos .perfumes .perfumes-2, main .productos .perfumes .perfumes-1, main .productos .infantes .infante-2, main .productos .infantes .infante-1, main .productos .hombres .hombre-2, main .productos .hombres .hombre-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .ofertas-promociones .sub-titulo, main h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

footer div h4, main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

/*----main----*/
/*----articulo 1----*/
main {
  /*----articulo 2----*/
  /*----articulo 3----*/
}
main .presentacion-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../multimedia/presentacion.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}
main h1 {
  word-spacing: 3px;
  padding: 0px 20px;
  width: 60%;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  animation-name: cambiar-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes cambiar-color {
  50% {
    color: rgba(255, 255, 255, 0.747);
  }
}
main .productos {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
main .productos .hombres {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .infantes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .infantes .infante-1 {
  order: 2;
}
main .productos .infantes .infante-2 {
  order: 1;
}
main .productos .perfumes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .productos .hombres, main .productos .infantes, main .productos .perfumes {
  gap: 20px;
}
main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
main .productos .hombres div .parrafos, main .productos .infantes div .parrafos, main .productos .perfumes div .parrafos {
  text-align: center;
  padding: 30px 0px;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px #000000;
}
main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin-top: 10px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 10px #000000;
}
main .productos .hombres div .ver-mas:hover, main .productos .infantes div .ver-mas:hover, main .productos .perfumes div .ver-mas:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 30px white;
}
main .productos .hombres div .ver-mas:active, main .productos .infantes div .ver-mas:active, main .productos .perfumes div .ver-mas:active {
  background-color: #5f5f5f;
}
main .contenedor {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 40px;
  margin-bottom: 50px;
}
main h2 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding: 0px 20px;
  animation-name: cambiar-color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
main h3 {
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
main .ofertas-promociones {
  margin-bottom: 50px;
  border-top: 1px solid white;
  background-image: url(../multimedia/ofertas-promos.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
main .productos .hombres .hombre-1, main .productos .hombres .hombre-2, main .productos .infantes .infante-1, main .productos .infantes .infante-2, main .productos .perfumes .perfumes-1, main .productos .perfumes .perfumes-2, main .ofertas-promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1, main .ofertas-promociones .sub-titulo {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

footer div h4, main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

/*-----footer----*/
footer {
  background-color: rgba(58, 58, 58, 0.726);
  border-top: 1px solid white;
}
footer div h4 {
  word-spacing: 3px;
  padding: 20px 0px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
}
footer .redes-sociales {
  border-top: 1px solid white;
}
footer .redes-sociales div img {
  width: 40px;
  margin: 0px 5px;
}
footer .derechos {
  background-color: black;
}

/*--------RESPONSIVE--------*/
/*------------HEADER-------------------- */
@media screen and (max-width: 750px) {
  .menu-logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .menu-logo a img {
    max-width: 200px;
  }
}
@media screen and (max-width: 505px) {
  header {
    padding: 30px 0px;
    position: relative;
  }
  header .menu-logo a img {
    max-width: 250px;
  }

  header .contenedor {
    margin: 0px 0px;
    width: 100%;
  }

  .menu-logo {
    gap: 20px;
  }

  .navegador ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100%;
    width: 100%;
    gap: 10px;
  }
}
/*------------FIN DE HEADER-------------------- */
/*--------------------MAIN ----------------------*/
@media screen and (max-width: 750px) {
  main {
    /*----articulo 1----*/
    /*----articulo 2----*/
  }
  main h1 {
    width: 80%;
  }
  main .productos {
    gap: 50px;
  }
  main .productos .hombres {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .infantes {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .infantes .infante-1 {
    order: 2;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr 1fr;
  }
  main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
    border-radius: 30px;
  }
  main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
    font-size: 1.1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 90%;
    max-width: 850px;
  }
}
/*FIN DE ARTICULO 2 */
@media screen and (max-width: 505px) {
  main {
    /*----articulo 1----*/
    /*----articulo 2----*/
  }
  main .productos {
    gap: 50px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
  }
  main .productos h2 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .hombres {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .infantes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .infantes .infante-1 {
    order: 0;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px white;
  }
  main .productos .hombres, main .productos .infantes, main .productos .perfumes {
    gap: 50px;
  }
  main .productos .hombres div img, main .productos .infantes div img, main .productos .perfumes div img {
    border-radius: 30px;
  }
  main .productos .hombres div .ver-mas, main .productos .infantes div .ver-mas, main .productos .perfumes div .ver-mas {
    font-size: 1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 100%;
    padding: 0px 20px;
  }
}
/*FIN DE ARTICULO 2 */
/*---------------------FIN DE MAIN --------------------------------*/
/*-----section 1-----*/
.hombres-ofertas {
  background-image: url(/multimedia/hombre-ofertas.jpg);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
}

/*-----section 2-----*/
.hombres-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
}
.hombres-categorias .categorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  width: 100%;
  gap: 30px;
}
.hombres-categorias .categorias .hombres-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px white;
}
.hombres-categorias .categorias .hombres-items:hover {
  box-shadow: 0px 0px 30px white;
  transform: scale(0.9, 0.9);
}
.hombres-categorias .categorias .hombres-items p {
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0px 0px 10px #000000;
  text-transform: capitalize;
  font-weight: bolder;
}
.hombres-categorias .categorias .hombres-items img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 750px) {
  /*-----section 2-----*/
  .hombres-categorias .categorias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 150px);
    width: 100%;
    gap: 20px;
  }
}
@media screen and (max-width: 505px) {
  .hombres-categorias {
    padding: 30px 30px;
  }
  .hombres-categorias .categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    width: 100%;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
