/*-------general-----*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
*::selection {
  background-color: rgba(165, 164, 164, 0.76);
}

img {
  border-style: none;
  max-width: 100%;
}

html {
  font-size: 16px;
}
html body {
  background-image: url(../multimedia/textura-fondo.jpg);
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 505px) {
  html {
    font-size: 12px;
  }
}
/*menu = nav*/
header {
  position: sticky;
  top: 0px;
  z-index: 2;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 0.5rem 0px;
}
header a {
  text-decoration: none;
}
header .contenedor {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
header .menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-logo a img {
  max-width: 150px;
}
header .menu-logo .navegador {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu-logo .navegador ul {
  list-style: none;
  padding: 0px;
}
header .menu-logo .navegador ul li {
  display: inline-block;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
header .menu-logo .navegador ul li:active {
  background-color: #5f5f5f;
}
@media screen and (max-width: 505px) {
  header .menu-logo .navegador ul li:hover {
    border: 0px;
  }
}
header .menu-logo .navegador ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  transition: all 0.5s ease;
}
header .menu-logo .navegador ul li a:hover {
  transform: scale(1.1, 1.1);
}

main .ofertas-promociones, main .productos .perfumes .perfumes-2, main .productos .perfumes .perfumes-1, main .productos .infantes .infante-2, main .productos .infantes .infante-1, main .productos .hombres .hombre-2, main .productos .hombres .hombre-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2, main h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

footer div h4, main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main .presentacion-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*----main----*/
/*----articulo 1----*/
main {
  background-color: rgba(0, 0, 0, 0.726);
  /*----articulo 2----*/
  /*----articulo 3----*/
}
main .presentacion-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
  height: 500px;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 750px) {
  main .presentacion-1 {
    height: 400px;
  }
}
@media screen and (max-width: 505px) {
  main .presentacion-1 {
    height: 300px;
  }
}
main .presentacion-1 h1 {
  position: absolute;
}
main h1 {
  word-spacing: 3px;
  padding-top: 30px;
  color: white;
  width: 80%;
  text-shadow: 0px 0px 20px #000000;
}
@media screen and (max-width: 750px) {
  main h1 {
    width: 90%;
  }
}
@media screen and (max-width: 505px) {
  main h1 {
    font-size: 1.5rem;
  }
}
main .productos {
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
}
main .productos .hombres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
main .productos .infantes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
main .productos .infantes .infante-1 {
  order: 2;
}
main .productos .infantes .infante-2 {
  order: 1;
}
main .productos .perfumes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
main .productos div div img {
  border-radius: 30px;
  border: 2px solid white;
}
main .productos div div .parrafos {
  text-align: center;
  padding: 30px 0px;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 20px #000000;
}
main .productos div div .ver-mas {
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin-top: 10px;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 20px #000000;
}
main .productos div div .ver-mas:hover {
  transform: scale(0.9, 0.9);
  border: 1px solid white;
}
main .productos div div .ver-mas:active {
  background-color: #5f5f5f;
}
main .contenedor {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
  padding: 40px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main h2 {
  color: white;
  width: 80%;
  text-shadow: 0px 0px 20px #000000;
}
@media screen and (max-width: 750px) {
  main h2 {
    width: 90%;
  }
}
@media screen and (max-width: 505px) {
  main h2 {
    font-size: 1.5rem;
  }
}
main h3 {
  color: white;
  text-shadow: 0px 0px 20px #000000;
}
main .ofertas-promociones {
  margin-top: 0px;
  row-gap: 50px;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 30px 0px;
  border-top: 1px solid white;
  position: relative;
  height: 600px;
}
main .ofertas-promociones h2 {
  position: absolute;
}
main .ofertas-promociones img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .productos .hombres .hombre-1, main .productos .hombres .hombre-2, main .productos .infantes .infante-1, main .productos .infantes .infante-2, main .productos .perfumes .perfumes-1, main .productos .perfumes .perfumes-2, main .ofertas-promociones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1, main h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

footer div h4, main h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

main .presentacion-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----footer----*/
footer {
  background-color: rgba(58, 58, 58, 0.726);
  border-top: 1px solid white;
}
footer div h4 {
  word-spacing: 3px;
  padding: 20px 0px;
  color: white;
  text-shadow: 0px 0px 20px #000000;
}
footer .redes-sociales {
  border-top: 1px solid white;
}
footer .redes-sociales div img {
  width: 40px;
  margin: 0px 5px;
}
footer .derechos {
  background-color: black;
}

/*--------RESPONSIVE--------*/
/*------------HEADER-------------------- */
@media screen and (max-width: 750px) {
  .menu-logo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  .menu-logo a img {
    max-width: 200px;
  }
}
@media screen and (max-width: 505px) {
  header {
    padding: 30px 0px;
    position: relative;
  }
  header .menu-logo a img {
    max-width: 250px;
  }

  header .contenedor {
    margin: 0px 0px;
    width: 100%;
  }

  .menu-logo {
    gap: 20px;
  }

  .navegador ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100%;
    width: 100%;
    gap: 10px;
  }

  .navegador ul li:hover {
    border-left: 0px solid white;
    border-right: 0px solid white;
  }
}
/*------------FIN DE HEADER-------------------- */
/*--------------------MAIN ----------------------*/
@media screen and (max-width: 750px) {
  /*----articulo 2----*/
  main .productos {
    background-color: rgba(0, 0, 0, 0.24);
    gap: 50px;
  }
  main .productos .hombres {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main .productos .infantes {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main .productos .infantes .infante-1 {
    order: 2;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  main .productos div div img {
    border-radius: 30px;
    border: 2px solid white;
  }
  main .productos div div .ver-mas {
    font-size: 1.1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 95%;
    max-width: 850px;
  }
}
/*FIN DE ARTICULO 2 */
@media screen and (max-width: 505px) {
  /*----articulo 2----*/
  main .productos {
    gap: 50px;
    border-radius: 0px;
  }
  main .productos .hombres {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 40px 20px;
    border-radius: 30px;
  }
  main .productos .infantes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 40px 20px;
    border-radius: 30px;
  }
  main .productos .infantes .infante-1 {
    order: 0;
  }
  main .productos .infantes .infante-2 {
    order: 1;
  }
  main .productos .perfumes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 40px 20px;
    border-radius: 30px;
  }
  main .productos div div img {
    border-radius: 30px;
    border: 2px solid white;
  }
  main .productos div div .ver-mas {
    font-size: 1rem;
    text-decoration: none;
  }
  main .contenedor {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 40px 20px;
  }
}
/*FIN DE ARTICULO 2 */
/*---------------------FIN DE MAIN --------------------------------*/

/*# sourceMappingURL=style.css.map */
