%flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
%titulos-grandes{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;

}

%titulos{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}


%titulos-pequeños{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;

}

%titulos-muy-pequeños{
    font-size: 1rem;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;

}

%encajar-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}