$header: (
    header-fondo: rgba(0, 0, 0, 0.726),
    border-bottomm: 1px solid rgb(255, 255, 255),
);

$main: (
    section-fondo: rgba(0, 0, 0, 0.26),
    border-bottomm: 1px solid rgb(255, 255, 255),
    border-img: 2px solid rgb(255, 255, 255),

);

$footer: (
    footer-fondo: rgba(58, 58, 58, 0.726),
    border-top: 1px solid rgb(255, 255, 255),


)



