
/*COLOR DE FONDO - SOMBRAS*/ 

$header: (
    header-fondo: rgba(0, 0, 0, 0.5),
    sombras: 0px 0px 10px white,  
    
);

$main: (
    section-fondo: rgba(0, 0, 0, 0.5),
    sombras: 0px 0px 10px white,
    

);

$footer: (
    footer-fondo: rgba(0, 0, 0, 0.5),
    section-fondo: rgba(255, 255, 255, 0),
    sombras: 0px 0px 10px white,
    sombras-2: 0px 0px 10px white,
    


)



