/*click*/
$active-background: #5f5f5f;

/*apuntar*/
$hover-shadow: 0px 0px 20px white;

/*cambiar color al texto*/
$color-texto: white;

/*sombra al texto*/
$sombra-texto: 0px 0px 10px #000000;

/*sombra blanca al texto*/
$iluminacion-texto: 0px 0px 10px white;