@import "../base/variables";
@import "../base/extends";
/*-----footer----*/
footer{
    background-color: rgba(58, 58, 58, 0.726);
    margin-top: 0px;
    border-top: 1px solid rgb(255, 255, 255);
    div{
        h4{
            @extend %titulos-pequeños;
            word-spacing: 3px;
            padding: 20px 0px;
            color: $color-texto;
            text-shadow: $sombra-texto;

        }
    }
    .redes-sociales{
        border-top: 1px solid rgb(255, 255, 255);
        div{
            img{
                width: 40px;
                margin: 0px 5px;
            }
        }
    }
    .derechos{
        background-color: #000000;
    }

}