@import "../base/variables";
@import "../base/extends";
@import "../base/maps";
@import "../base/listas";

/*-----footer----*/
footer{
    background-color: map-get($footer,  footer-fondo);
    margin-top: 0px;
    border-top: map-get($footer, border-top);
    div{
        h4{
            @extend %titulos-pequeños;
            word-spacing: 3px;
            padding: 20px 0px;
            color: $color-texto;
            text-shadow: $sombra-texto;

        }
    }
    .redes-sociales{
        border-top: 1px solid nth($colores, 2);
        div{
            img{
                width: 40px;
                margin: 0px 5px;
            }
        }
    }
    .derechos{
        background-color: nth($colores, 1);
    }

}