/*-------general-----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    &::selection{
        background-color: rgba(165, 164, 164, 0.76);
    } 
}

img{
    border-style: none;
    max-width: 100%;
}
html{
    font-size: 16px;
    background-position: center center;
    background-attachment: fixed;
    body{
        background: linear-gradient(45deg,black,grey,black,grey,black,grey,black,grey,black,grey);
        background-attachment: fixed;
        background-size: 600%;
        animation: fondo-animado 40s infinite;
        @keyframes fondo-animado{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }     
        }  
    }
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 750px){
    html{
        font-size: 14px;
    }
}
@media screen and (max-width: 505px){
    html{
        font-size: 12px;
    }
}