@import "../base/variables";



/*menu = nav*/

header{
    position: sticky;
    top: 0px;
    z-index: 2;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0.5rem 0px;
    a{
      text-decoration: none;

    }
    .contenedor{
      width: 85%;
      max-width: 850px;
      margin: 0 auto;
    }
    .menu-logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        img{
          max-width: 150px;
        }
      }
      .navegador{
        display: flex;
        justify-content: space-around;
        ul{
          list-style: none;
          padding: 0px;
            li{
              display: inline-block;
              transition: all 0.5s ease;
              &:hover{
                border-left: 1px solid $hover-border;
                border-right: 1px solid $hover-border;
              }
              &:active{
                background-color: $active-background;
              }
              @media screen and (max-width: 505px){
                &:hover{
                  border: 0px;
                }
                
              }
                a{
                 display: block;
                 padding: 0.5rem 1rem;
                 color: $color-texto;
                 transition: all 0.5s ease;
                 &:hover{
                    transform: scale(1.1,1.1);
                  }
                   
                 

                }
            }
         }
      }
    }
}