@import "../base/variables";
@import "../base/extends";
@import "../base/maps";
@import "../base/mixins";
@import "../base/listas";


/*----main----*/
/*----articulo 1----*/
main{
    background-color: rgba(0, 0, 0, 0.726);
    
    

        .presentacion-1{
            @include flex(flex, flex-start, center);
            flex-direction: column;
            gap: 50px;
            
            position: relative;
            height: 500px;
            transition: all 0.5s ease;
            border-bottom: map-get($main, border-bottomm);
            @media screen and (max-width: 750px){
                height: 400px;
            }
            @media screen and (max-width: 505px){
                height: 300px;
            }

            h1{
                position: absolute;

            }
            img{
                @extend %encajar-imagen
            }
        }
        h1{
            @extend %titulos;
            word-spacing: 3px;
            padding-top: 30px;
            color: $color-texto;
            width: 80%;
            text-shadow: $sombra-texto;
            @media screen and (max-width: 750px){
                width: 90%;
            }
            @media screen and (max-width: 505px){
                font-size: 1.5rem;
            }

        }

        /*----articulo 2----*/ 
        .productos{
            
            background-color: map-get($main, section-fondo);
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            border-radius: 30px;
        
            .hombres{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                
                
                .hombre-1{
                    @extend %flex-center;      
                }
                .hombre-2{
                    @extend %flex-center;

                }

            }
            .infantes{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .infante-1{
                    @extend %flex-center;
                    order: 2;
                }
                .infante-2{
                    @extend %flex-center;
                    order: 1;

                }

            }
            .perfumes{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .perfumes-1{
                    @extend %flex-center;
                }
                .perfumes-2{
                    @extend %flex-center;

                }

            }
            
            div{
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);
                        

                    }
                    .parrafos{
                        text-align: center;
                        padding: 30px 0px;
                    
                        color: $color-texto;
                        font-size: nth($font-size, 1);
                        text-shadow: $sombra-texto;
                    }
                    .ver-mas{
                        font-size: nth($font-size, 1);
                        text-decoration: none;
                        border-radius: 30px;
                        color: $color-texto;
                        background-color: nth($colores, 1);
                        padding: 10px 20px;
                        margin-top: 10px;
                        transition: all 0.5s ease;
                        text-shadow: $sombra-texto;
                        &:hover{
                            transform: scale(0.9,0.9);
                            border: 1px solid $hover-border;      
                        }
                        &:active{
                            background-color: $active-background;
                        }
                    }
                }
            }
        }

        .contenedor{
            width: 85%;
            max-width: 850px;
            margin: 0 auto;
            padding: 40px 40px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h2{
            @extend %titulos;
            color: $color-texto;
            width: 80%;
            text-shadow: $sombra-texto;
            @media screen and (max-width: 750px){
                width: 90%;

            }
            @media screen and (max-width: 505px){
                font-size: 1.5rem;
            }
            
        }
        h3{
            @extend %titulos-pequeños;
            color: $color-texto;
            text-shadow: $sombra-texto;
        }


        /*----articulo 3----*/ 

        .ofertas-promociones{
            @extend %flex-center;
            margin-top: 0px;
            row-gap: 50px;
            background-color: map-get($main, section-fondo);
            padding: 30px 0px;
            border-top: 1px solid nth($colores, 2);
            position: relative;
            height: 600px;
            h2{ 
                position: absolute;

            }
            img{
                width: 100%;
                height: 100%;
                
                object-fit: cover;
                

            }
        }
      
}





