@import "../base/variables";
@import "../base/extends";
@import "../base/maps";
@import "../base/mixins";
@import "../base/listas";


/*----main----*/
/*----articulo 1----*/
main{
    
    
        .presentacion-1{
            @include flex(flex, center, center);
            flex-direction: column;
            background-image: url(../multimedia/presentacion.jpg);
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            height: 600px;
            transition: all 0.5s ease;
            border-bottom: map-get($main, border-bottomm);
            margin-bottom: 50px;
            h1{
               
                
            }
            
        }
        h1{
            @extend %titulos-grandes;
            word-spacing: 3px;
            padding: 0px 20px;
            width: 60%;   
            color: $color-texto;  
            text-shadow: $sombra-texto;
            animation-name: cambiar-color;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            
            @keyframes cambiar-color {
                50%{
                    color: rgba(255, 255, 255, 0.747);
                   
                }
               
                
            }      

        }

        /*----articulo 2----*/ 
        .productos{
            
            background-color: map-get($main, section-fondo); 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            border-radius: 30px;
        
            .hombres{
                display: grid;
                grid-template-columns: 1fr 1fr;
                

                .hombre-1{
                    @extend %flex-center;      
                }
                .hombre-2{
                    @extend %flex-center;

                }

            }
            .infantes{
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                .infante-1{
                    @extend %flex-center;
                    order: 2;
                }
                .infante-2{
                    @extend %flex-center;
                    order: 1;

                }

            }
            .perfumes{
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                .perfumes-1{
                    @extend %flex-center;
                }
                .perfumes-2{
                    @extend %flex-center;

                }
            }
            
            .hombres, .infantes, .perfumes{
                gap: 20px;
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);
                        

                    }
                    .parrafos{
                        text-align: center;
                        padding: 30px 0px;
                    
                        color: $color-texto;
                        font-size: nth($font-size, 1);
                        text-shadow: $sombra-texto;
                    }
                    .ver-mas{
                        font-size: nth($font-size, 1);
                        text-decoration: none;
                        border-radius: 30px;
                        color: $color-texto;
                        background-color: nth($colores, 1);
                        padding: 10px 20px;
                        margin-top: 10px;
                        transition: all 0.5s ease;
                        text-shadow: $sombra-texto;
                        &:hover{
                            transform: scale(0.9,0.9);
                            border: 1px solid $hover-border;      
                        }
                        &:active{
                            background-color: $active-background;
                        }
                    }
                }
            }
        }

        .contenedor{
            width: 85%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 60px 40px;
            
            margin-bottom: 50px;
        }

        h2{
            @extend %titulos;
            color: $color-texto;
            text-shadow: $sombra-texto;
            padding: 0px 20px;
            animation-name: cambiar-color;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            
        }
        h3{
            @extend %titulos-pequeños;
            color: $color-texto;
            text-shadow: $sombra-texto;
        }


        /*----articulo 3----*/ 

        .ofertas-promociones{
            @extend %flex-center;
            margin-bottom: 50px;
            
           
            
            border-top: 1px solid nth($colores, 2);
            background-image: url(../multimedia/ofertas-promos.jpg);
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            height: 600px;
            .sub-titulo{
                @extend %titulos-grandes;

                

            }
            
        }
      
}





