@import "../base/variables";
@import "../base/extends";


/*----main----*/
/*----articulo 1----*/
.presentacion-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 0px;
    position: relative;
    height: 500px;
    transition: all 0.5s ease;
    @media screen and (max-width: 750px){
        height: 400px;
    }
    @media screen and (max-width: 505px){
        height: 300px;
    }

    h1{
        position: absolute;

    }
    img{
        @extend %encajar-imagen
    }
}
h1{
    @extend %titulos;
    word-spacing: 3px;
    padding-top: 30px;
    color: $color-texto;
    width: 80%;
    text-shadow: $sombra-texto;
    @media screen and (max-width: 750px){
        width: 90%;
    }
    @media screen and (max-width: 505px){
        font-size: 1.5rem;
    }

}

/*----articulo 2----*/ 
.productos{
    display: grid;
    background-color: rgba(0, 0, 0, 0.726);
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 1fr 1fr 1fr;
    grid-template-areas: "sub-titulo sub-titulo"
                         "hombre-1 hombre-2"
                         "infante-2 infante-1"
                         "perfumes-1 perfumes-2";
    justify-items: center;
    align-items: center;
    
    margin-top: 0px;
    row-gap: 30px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(255, 255, 255);
    

    div{
        img{
            border-radius: 30px;
            border: 2px solid rgb(255, 255, 255);

        }
        .parrafos{
            text-align: center;
            padding: 30px 0px;
            max-width: 50%;
            color: $color-texto;
            font-size: 1.2em;
            text-shadow: $sombra-texto;
        }
        .ver-mas{
            font-size: 1.5rem;
            text-decoration: none;
            border-radius: 30px;
            color: $color-texto;
            background-color: rgb(0, 0, 0);
            padding: 0px 15px;
            margin-top: 10px;
            transition: all 0.5s ease;
            text-shadow: $sombra-texto;
            &:hover{
                transform: scale(1.2,1.2);
                border: 1px solid $hover-border;      
            }
            &:active{
                background-color: $active-background;
            }
        }
    }

    .sub-titulo{
        grid-area:sub-titulo;
    }
    .hombre-1{
        grid-area:hombre-1;
        @extend %flex-center;
              
    }
    .hombre-2{
        grid-area:hombre-2;
    }
    .infante-1{
        grid-area:infante-1;
        @extend %flex-center;
    }
    .infante-2{
        grid-area:infante-2;
    }
    .perfumes-1{
        grid-area:perfumes-1;
        @extend %flex-center;
    }
    .perfumes-2{
        grid-area:perfumes-2;
    }
}

h2{
    @extend %titulos;
    color: $color-texto;
    width: 80%;
    text-shadow: $sombra-texto;
    @media screen and (max-width: 750px){
        width: 90%;

    }
    @media screen and (max-width: 505px){
        font-size: 1.5rem;
    }
    
}
h3{
    @extend %titulos-pequeños;
    color: $color-texto;
    text-shadow: $sombra-texto;
}

/*----articulo 3----*/ 

.ofertas-promociones{
    @extend %flex-center;
    margin-top: 0px;
    row-gap: 50px;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 30px 20px;
    border-top: 1px solid rgb(255, 255, 255);
}
