/*--------RESPONSIVE--------*/ 



/*------------HEADER-------------------- */


@media screen and (max-width: 750px){
    .menu-logo{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    
    }
    .menu-logo a img{
        max-width: 200px;  
    }
}
    
@media screen and (max-width: 505px){
    header{
        padding: 30px 0px;
        position: relative;
        .menu-logo a img{
            max-width: 250px;
        }
    
    }
    header .contenedor{
        margin: 0px 0px;
        width: 100%;
    }
    .menu-logo{
        gap: 20px ;
        
    
    }
    
    .navegador ul{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 100%;
        width: 100%;
        gap: 10px;
    }
    


}
/*------------FIN DE HEADER-------------------- */

/*--------------------MAIN ----------------------*/

@media screen and (max-width: 750px){
   
    main{
         /*----articulo 1----*/
        .presentacion-1{
           

        }
        h1{
            width: 80%;
        }
         /*----articulo 2----*/
        .productos{
        
            gap: 50px;
            .hombres{
                grid-template-columns: 1fr 1fr;
        
            }
            .infantes{
                grid-template-columns: 1fr 1fr;
                
                .infante-1{
                    order: 2;
                }
                .infante-2{
                    order: 1;
                }
            }
            .perfumes{
                grid-template-columns: 1fr 1fr;
               
            }
                
            .hombres, .infantes, .perfumes{
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);    
                    }
                    .ver-mas{
                        font-size: 1.1rem;
                        text-decoration: none;
                       
                    }
                }
            }  
        
        }
    
        .contenedor{
            width: 90%;
            max-width: 850px;         
        }
    }

}
/*FIN DE ARTICULO 2 */


@media screen and (max-width: 505px){
    
    main{
         /*----articulo 1----*/
         .presentacion-1{
            

        }
        /*----articulo 2----*/
        .productos{
            gap: 50px;
            border-radius: 0px;
            background-color: transparent;
            box-shadow: none;
            h2{
                background-color: map-get($main, section-fondo);
                border-radius: 30px;
                padding: 20px;
                box-shadow: 0px 0px 10px white
            }
            .hombres{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                background-color: map-get($main, section-fondo);
                padding: 40px 20px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px white;
            }
            .infantes{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;     
                background-color: map-get($main, section-fondo);
                padding: 40px 20px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px white;
                .infante-1{
                    order: 0;
                }
                .infante-2{
                    order: 1;
                }
            }
            .perfumes{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                background-color: map-get($main, section-fondo);
                padding: 40px 20px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px white;
            }
                
            .hombres, .infantes, .perfumes{
                gap: 50px;
               
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);  
                    }    
                    .ver-mas{
                        font-size: 1rem;
                        text-decoration: none;
                        
                    }
                }
            }  
        
        }
        .contenedor{
            width: 100%;
            
            padding: 0px 20px;
        }
    } 
}
/*FIN DE ARTICULO 2 */
/*---------------------FIN DE MAIN --------------------------------*/
