/*--------RESPONSIVE--------*/ 



/*------------HEADER-------------------- */


@media screen and (max-width: 750px){
    .menu-logo{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    
    }
    .menu-logo a img{
        max-width: 200px;
       
    
    }
   
}
    
@media screen and (max-width: 505px){
    header{
        padding: 30px 0px;
        position: relative;
        .menu-logo a img{
            max-width: 250px;
        }
    
    }
    header .contenedor{
        margin: 0px 0px;
        width: 100%;
    }
    .menu-logo{
        gap: 20px ;
        
    
    }
    
    .navegador ul{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 100%;
        width: 100%;
        gap: 10px;
    }
    .navegador ul li:hover{
        border-left: 0px solid $hover-border;
        border-right: 0px solid $hover-border;
       
        
       
    }


}
/*------------FIN DE HEADER-------------------- */

/*--------------------MAIN ----------------------*/

@media screen and (max-width: 750px){
    /*----articulo 2----*/
    main{
        .productos{
            background-color: rgba(0, 0, 0, 0.24);
            gap: 50px;
            .hombres{
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                
                .hombre-1{
                        
                }
                .hombre-2{
                
                }
        
            }
            .infantes{
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .infante-1{
                    order: 2;
                }
                .infante-2{
                    order: 1;
                }
            }
            .perfumes{
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .perfumes-1{
                
                }
                .perfumes-2{
                    
                }
            }
                
            div{
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);
                        
                    }
                   
                    .ver-mas{
                        font-size: 1.1rem;
                        text-decoration: none;
                       
                    }
                }
            }  
        
        }
    
        .contenedor{
            width: 95%;
            max-width: 850px;
            
        }
    }

}
/*FIN DE ARTICULO 2 */


@media screen and (max-width: 505px){
    /*----articulo 2----*/
    main{

    
        .productos{
            gap: 50px;
            border-radius: 0px;
            .hombres{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                gap: 20px;
                background-color: rgba(0, 0, 0, 0.26);
                padding: 40px 20px;
                border-radius: 30px;
        
            }
            .infantes{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                gap: 20px;
                background-color: rgba(0, 0, 0, 0.26);
                padding: 40px 20px;
                border-radius: 30px;
                .infante-1{
                    order: 0;
                }
                .infante-2{
                    order: 1;
                }
            }
            .perfumes{
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                gap: 20px;
                background-color: rgba(0, 0, 0, 0.26);
                padding: 40px 20px;
                border-radius: 30px;
            }
                
            div{
                div{
                    img{
                        border-radius: 30px;
                        border: map-get($main, border-img);  
                    }
                    
                    .ver-mas{
                        font-size: 1rem;
                        text-decoration: none;
                        
                    }
                }
            }  
        
        }
        .contenedor{
            width: 100%;
            max-width: 850px;
            margin: 0 auto;
            padding: 40px 20px;
        }
    } 
}
/*FIN DE ARTICULO 2 */
/*---------------------FIN DE MAIN --------------------------------*/
